$primary-color: #3ca3cf;
$secondary-color: #cf3c5e;
$background-color: #1f2224;

*{
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: white!important;
}



.App {
  text-align: center;
  background-color: $primary-color;
  .MainMenu{
    border: 5px solid $secondary-color;
    border-radius: 50px;
  }
  .StartButtons button{
    margin: 8px;
  }
  .card{
    border: 5px solid $primary-color;
  }
}

.InputText{
  padding: 15px;
  background-color: $secondary-color;
  input{
    margin: 25px;
    color: black!important;
  }
}

.InputButtons {
  background-color: $secondary-color;
  button{
    margin: 8px;
  }
}

// ListDetails
.WordCard{
  background-color: $primary-color;
  .WordDefine{
    height: 210px;
  }
  .HiddenWord{
    margin-top: 100px;
    letter-spacing: 5px;
  }
}
