$primary-color: #3ca3cf;
$secondary-color: #cf3c5e;
$background-color: #1f2224;

*{
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: white!important;
}


//Overall page for all components
.App{
  border-radius: 10px;
  border: 14px solid $secondary-color;
  box-shadow: -22px 22px 5px rgba(177, 193, 204, 0.3);
  .App, .card{
    border: 0px;
  }
}
.MainMenuDescription{
  background-color: transparent;
}

//User inputs
.InputText{
  background-color: $secondary-color;
  input{
    margin: 25px;
    color: black!important;
  }
}
.InputButtons {
  background-color: $secondary-color;
  text-align: center;
  button{
    margin: 10px;
    margin-top: 15px;
  }
}

// ListDetails component
.App-Game{
  .Game-Lives{
    margin-top: -50px;
  }
  //Details about the word
  .WordDefine{
    height: 350px;
    margin: 0 10px;
  }
  //Word w/ underscore (display to user)
  .HiddenWord{
    letter-spacing: 6px;
    font-size: 22px;
    font-weight: bold;
  }
}

//WinLose Component
.App-Result{
  .DetailResults{
    h2{
      margin-top: 100px;
      margin-bottom: 40px;
    }
    span{
      border: 5px solid orange;
      border-radius: 50%;
      padding: 10px 20px;
      margin: 5px;
    }
  }
}
